html
    header
        link(href="http://vjs.zencdn.net/6.6.3/video-js.css" rel="stylesheet")
        script(src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js")
        script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js")
      
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js", integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
        
      
        link(href="/assets/stylesheets/movie.css" rel="stylesheet")
        <!-- If you'd like to support IE8 -->
        script(src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js")
    body(style='background-color:#333').p-5
        h1.mb-2.text-center(style="color:white") Search a movie or a show
        form.m-auto.row#search_movie
            div.col-4
            div.col-4
                input.w-100#searchMovie(type='text' placeholder='Search a movie')
            div.col-1            
                button.m-2.m-auto#form_button(type="submit" class="btn btn-primary") Search
            div.col-3
        div.row
            div.col-5
            div.col-2(style='color:red;')#return_search          
                h5#return_search 
            div.col-5            
                        
        div.container.mt-3
            div.row#movie_container
                //- div.m-3.col-3.border.border-dark(style='min-width:300px;height:400px;background-color:#222')
                //- div.m-3.col-3.border.border-dark(style='min-width:300px;height:400px;background-color:#222')
                //- div.m-3.col-3.border.border-dark(style='min-width:300px;height:400px;background-color:#222')
                    
                //- div.m-3.col-3.border.border-dark(style='min-width:300px;height:400px;background-color:#222')
            
        //- video(id="my-video" class="video-js" controls width="640" height="264" poster="/assets/images/facce.jpg" data-setup="{}")
        //-     //- source(src="/Volumes/Storage/goinfre/afanneau/jo-2018-biathlon-relais-mixte-revivez-la-victoire-magique-du-relais-tricolore.mp4" type='video/mp4')
        //-     source(src="http://localhost:7777/video" type='video/ogg')
        //-     //- <track kind="subtitles" src="/goinfre/torrent-stream/5aa6a160a7470b00e4b3d0ee824333fb7c934ca7/Zenith.Part.1.2011.Theora-VODO/Zenith.Part.1.2011.Theora-VODO.fr.vtt" srclang="fr" label="French" default>
        //-     //- <track kind="subtitles" src="/goinfre/torrent-stream/5aa6a160a7470b00e4b3d0ee824333fb7c934ca7/Zenith.Part.1.2011.Theora-VODO/Zenith.Part.1.2011.Theora-VODO.en.vtt" srclang="en" label="English" default>
        //-     p(class="vjs-no-js") To view this video please enable JavaScript, and consider upgrading to a web browser that
        //-         a(href="http://videojs.com/html5-video-support/" target="_blank") supports HTML5 video
        //- script(src="http://vjs.zencdn.net/6.6.3/video.js")
        script(src="/assets/javascripts/video.js")